body {
  font-family: Arial, sans-serif;
}

h1 {
  color: #151616;
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
  margin-bottom: 0px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #878787;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

a {
  text-decoration: none;
}
form {
  display: block;
  font-size: 16px;
  font-weight: 400;
  height: 81px;
  line-height: 24px;
  margin-top: 20px;
  margin-right: 10px;
  text-align: left;
  text-size-adjust: 100%;
}

.weatherApp {
  max-width: 600px;
  margin: 30px auto;
}
.weatherInfo {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

.temperature-container img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
}
.temperature-container .current-temperature {
  color: #212121;
  font-weight: 400;
  font-size: 64px;
  line-height: 1;
}
.temperature-container .units {
  position: relative;
  font-size: 18px;
  line-height: 1;
}
