body {
  font-family: Arial, sans-serif;
  background-color: #00bbd41a;
}

h1 {
  color: #151616;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  margin-bottom: 0px;
}

h3 {
  font-size: 12.5px;
  font-style: oblique;
  margin-bottom: 0px;
  color: #757575;
  text-align: left;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #878787;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

hr {
  margin-top: 0px;
  color: #ff5722;
}

a {
  text-decoration: none;
  color: #ff5722;
}

form {
  display: block;
  font-size: 16px;
  font-weight: 400;
  height: 81px;
  line-height: 24px;
  margin-top: 20px;
  margin-right: 10px;
  text-align: left;
  text-size-adjust: 100%;
}

footer {
  font-size: 10px;
  margin-top: 25px;
  margin-left: 3px;
  text-align: center;
  color: #bdbdbd;
}

.weather-app {
  max-width: 600px;
  margin: 30px auto;
}
.weather-info {
  padding: 20px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: #ffffff;
}

.search-input {
  background-color: #00bbd40a;
  border: 1px solid #00bbd411;
  color: #dadde1b2;
}

.temperature-container img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
}

.btn {
  background-color: #00bcd4;
  border: 1px solid #ff5622a4;
  color: #ffffff;
}

.btn:hover {
  background-color: #ff5622a4;
  border: 1px solid #ff5622a4;
  font-style: oblique;
  transition: ease-in-out all 100ms;
}

#weather-description {
  color: #00bcd4;
  font-weight: bolder;
}

.temperature-container .active {
  color: #212121;
  margin-right: 20px;
}

.temperature-container .current-temperature {
  color: #212121;
  font-weight: 400;
  font-size: 64px;
  line-height: 1;
}
.temperature-container .units {
  position: relative;
  font-size: 18px;
  line-height: 1;
}

#forecast {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #dadde1b2;
  border-radius: 5px;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-max {
  color: #ff5722;
}
.weather-forecast-temperature-min {
  color: #ff56226b;
}

.weather-forecast-temperature {
  font-size: 14px;
}
